{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- if not .Lastmod.IsZero -}}
{{- if not (eq .Lastmod .Date) }}
{{- $s := slice "Last Updated" }}
{{- $s = $s | append (slice (.Lastmod.Format (default "January 2, 2006" .Site.Params.DateFormat))) }}
{{- $scratch.Add "meta" $s }}
{{- end }}
{{- end }}
{{- end }}


{{- if not .Date.IsZero -}}
{{- $s := slice "Created" }}
{{- $s = $s | append (slice (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat))) }}
{{- $scratch.Add "meta" $s }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" -}}
{{- end -}}
