<!-- Netlify sign in -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- Mailchimp pop in form -->
<script id="mcjs">
  function showPopup() {
    !(function (c, h, i, m, p) {
      (m = c.createElement(h)),
        (p = c.getElementsByTagName(h)[0]),
        (m.async = 1),
        (m.src = i),
        p.parentNode.insertBefore(m, p);
    })(
      document,
      "script",
      "https://chimpstatic.com/mcjs-connected/js/users/be2b39c77e47598d278e74e4d/af681b176e8f33d00205cca5f.js"
    );
  }
  function makeMailchimpSubscribe() {
    document.getElementById("menu").lastElementChild.childNodes[1].id =
      "show-popup";

    //unsetting the cookie
    document.cookie =
      "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    document.cookie =
      "MCPopupSubscribed=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

    document.getElementById("show-popup").onclick = function () {
      showPopup();
      return false;
    };
  }
  function makeTwitterBlue() {
    // console.log(document.getElementById("menu"));
    document.querySelector("#menu > li:nth-child(2)").childNodes[1].id =
      "twitter-blue";
  }
  function start() {
    document.getElementById("menu").firstElementChild.childNodes[1].id =
      "show-popup";
    // Broken on mobile
    // makeMailchimpSubscribe();
    makeTwitterBlue();
  }
  window.onload = start();
</script>
