<!-- Mailchimp pop in form -->
<script id="mcjs">
    function makeMailchimpSubscribe() {
        document.getElementById("menu").lastElementChild.childNodes[1].id = "show-popup"
        function showPopup() {    
            !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/be2b39c77e47598d278e74e4d/af681b176e8f33d00205cca5f.js");
            //unsetting the cookie
            document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";                  
            document.cookie = "MCPopupSubscribed=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
        document.getElementById("show-popup").onclick = function() { showPopup(); return false;}
    }
    window.onload = makeMailchimpSubscribe()
</script>